.danger {
  background-color: red;
  color: white;
}

.danger:hover {
  background-color: rgb(241, 72, 72);
  color: white;
}

.primary {
  background-color: greenyellow;
  color: white;
}

.primary:hover {
  background-color: rgb(198, 255, 112);
}

.secondary {
  background-color: yellow;
  color: white;
}

.secondary:hover {
  background-color: rgb(254, 254, 27);
  color: white;
}

.button {
  padding: 1rem;
  border-radius: 3px;
}

