.buttons{
    display: flex;
    gap: 2rem;
    align-items: center;
    margin-bottom: 3rem;
    justify-content: space-around;
}

.buttons button{
    background-color:#ffffffb4;
    padding:1rem;
}




